<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
    <link rel="stylesheet" href="/css/sign.css" />
    <link
      rel="icon"
      href="/imgs/Gemini_Generated_Image_32rk1432rk1432rk_copy-removebg-preview.png"
      type="image/png"
    />
  </head>

  <body class="sign-b">
    <form action="/auth/sign-in" method="POST">
      <h1>Sign in</h1>

      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required />
      </div>

      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required />
      </div>

      <button type="submit">Sign in</button>
    </form>
  </body>
</html>
