
<nav class="nav">
  <a href="/"><img id="logo" src="/imgs/Gemini_Generated_Image_32rk1432rk1432rk_copy-removebg-preview.png" alt="logo pic"></a>


  <% if (user) { %>
    <a href="/auth/sign-out">Logout</a>

    <% if (user.role === "doctor") { %>
     
      <a href="/patient/new">Create in-Patient</a>
      <a href="/patient">All in-Patients</a>
      <a href="/appt/doc-appts">Clinic Appointments List </a>
      <a href="/profile/<%=user._id%>"> My Profile</a>
     
     
    <% } else if (user.role === "patient") { %>
     
      <a href="/appt/new">Your Dashboard</a>
     <a href="/doctor/all-doc">Our Doctors</a>

     
    <% } %>
    

  <% } else { %>
   
    <a href="/auth/sign-up">Sign up</a>
    <a href="/auth/sign-in">Login</a>
     <a href="/doctor/all-doc">Our Doctors</a>
  <% } %>
</nav>