<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ALL PATIENT</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
  <%- include('../partials/navbar') %>
    <h1 id="all">All Patients</h1>

<% for(let onePatient of Patients){ %>

<div class="patient-card">
    <p class="patient-name"><%= onePatient.name %></p>

    <a class="patient-link" href="/patients/<%= onePatient._id %>">
        View Patient Details
    </a>
</div>
<% } %>
  </body>
</html>
