<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="/css/patient.css">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ALL PATIENT</title>
    <link rel="stylesheet" href="/style.css">
  </head>
   <%- include('../partials/navbar') %>
  <body class="pt-list">

    <h1 id="all">All Patients</h1>

<% for(let onePatient of Patients){ %>

<div class="patient-card">
    <p class="patient-name"><%= onePatient.name %></p>

    <a class="patient-link" href="patient/<%= onePatient._id %>">
        View Patient Details
    </a>
</div>
<% } %>
  </body>
</html>
