<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MedTech Hospital</title>
    <link
      rel="icon"
      href="/imgs/Gemini_Generated_Image_32rk1432rk1432rk_copy-removebg-preview.png"
      type="image/png"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body id="HB">
    <%- include('../partials/navbar') %>

    <h1 id="welcome">WELCOME TO OUR MED-TECH HOSPITAL</h1>
    <main class="content-container"></main>

    <footer class="site-footer">
      <div class="footer-content">
        <div class="footer-section">
          <p class="app-links">Download our app 🥼 | Follow us on 🏨</p>
        </div>
        <div class="footer-section">
          <address>
            Address: Building 1095, Road 1425, Block 1014, Hamala Bahrain -
            P.O.Box 14
          </address>
        </div>
      </div>
      <div class="footer-bottom">
        <p>
          &copy; MedTech 2026 is part of the Major Hospital Group. All rights
          reserved.
        </p>
      </div>
    </footer>
  </body>
</html>
