<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('../partials/navbar') %>

    <H1> WELCOME TO OUR Dr.Tech HOSPITAL WEBSITE</H1>
    <img
      src="projects/project-2/public/hospital-building-illustration-medical-clinic-isolated-on-white-background-vector.jpg"
      alt="Hospital pic"
    />
  </body>
</html>
