<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body id="HB">
    <%- include('../partials/navbar') %>

    <H1 id="welcome"> WELCOME TO OUR MED-Tech HOSPITAL WEBSITE</H1>
  </body>
  <Br></Br>
   <Br></Br>
    <Br></Br>
     <Br></Br>
      <Br></Br>
        <Br></Br>
 <Br></Br>
   <Br></Br>
    <Br></Br>
     <Br></Br>
      <Br></Br>
       <Br></Br>
    <Br></Br>
  <footer>
    Download our app 🥼 
    Follow us on 🏨 
      <Br></Br>
    Address: Building 1095, Road 1425, Block
    1014, Hamala Bahrain - P.O.Box 14 © MedTech 2026 is part of the Major
    Hospital Group. All rights reserved.
  </footer>
</html>
