<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>  PATIENT List</title>
    <link rel="stylesheet" href="/css/patient.css">
     <link
      rel="icon"
      href="/imgs/Gemini_Generated_Image_32rk1432rk1432rk_copy-removebg-preview.png"
      type="image/png"
    />
  </head>
  <body id="Create">
     <%- include('../partials/navbar') %>

   
    <h2>Add Patient</h2>

    <form action="/patient/new" method="POST">

        <div id="name">
            <label for="name">Name:</label><br>
            <input
                type="text"
                id="name"
                name="name"
                minlength="7"
                maxlength="30"
                required>
        </div>

        <br>

        <div id="gender">
            <label for="Gender">Gender:</label><br>
           <select id="Gender" name="Gender" required>
    <option value="">Select</option>
    <option value="Female">Female</option>
    <option value="Male">Male</option>
</select>
        </div>

        <br>

        <div id="Illness">
            <label for="Illness">Illness:</label><br>
            <input
                type="text"
                id="Illness"
                name="Illness"
                required>
        </div>

        <br>

        <div id="meds">
            <label for="Medication">Medication:</label><br>
            <input
                type="text"
                id="Medication"
                name="Medication"
                required>
        </div>

        <br>

        <div id="days">
            <label for="daysOfAdmission">Days Of Admission :</label><br>
            <input
                type="number"
                id="daysOfAdmission"
                name="daysOfAdmission"
                min="1"
                max="100"
                required>
        </div>

        <br>

        <div id="Ward">
            <label for="wards">Ward:</label><br>
            <select id="wards" name="wards" required>
                <option value="">Select Ward</option>
                <option value="Adults">Adults</option>
                <option value="Peadiatric">Peadiatric</option>
            </select>
        </div>

        <br>

        <div id="discharge">
            <label for="IsReadyToDischarge">
                <input
                    type="checkbox"
                    id="IsReadyToDischarge"
                    name="IsReadyToDischarge"
                    value="true">
                Ready To Discharge
            </label>
        </div>

        <br>

        <button id="addBtn" type="submit">Add Patient</button>

    </form>

    </form>
  </body>
</html>
